---
---


// ===== VARIABLES


$tr-mode:   all;
$tr-speed:  0.5s;
$tr-ease:   ease-in-out;
$radius:    5px;


// ===== MIXINS


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}


// ===== STYLING


@import url('https://fonts.googleapis.com/css?family=Nunito|Fjalla+One');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F1F7EF;
    color: #63565B;

    .container {
        margin: 50px auto;
        width: 60%;
        max-width: 700px;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #63565B;

    &.lead {
        text-align: center;
    }
}

a {
    @include transition($tr-mode $tr-speed $tr-ease);
    text-decoration: none;
    border-bottom: 1px dashed transparent;
    color: #759CC6;

     &:hover {
         @include transition($tr-mode $tr-speed $tr-ease);
         border-bottom: 1px dashed #2269B5;
         color: #2269B5;
     }

    &:visited {
        color: #759CC6;

        &:hover {
            color: #2269B5;
        }
    }
}

.btn {
    display: inline-block;
    background-color: #759CC6;
    color: #ffffff;
    border-radius: $radius;

    &.lg {
        font-size: 1.2em;
        padding: 0.4em 1.2em;
    }

    &:hover {
        background-color: #2269B5;
        color: #ffffff;
    }
}

img {
    border-radius: 50%;
    border: 2px solid #63565B;
    padding: 2px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

footer {
    border-top: 1px solid #C7DBD5;
    font-size: .9em;
    text-align: center;
    margin: 3em 0;
    padding: 1em;

    a {
        @include transition($tr-mode $tr-speed $tr-ease);
        text-decoration: none;
        border-width: 0;
        color: #9BAFAC;

        &:hover {
            @include transition($tr-mode $tr-speed $tr-ease);
            border-width: 0;
            color: #2269B5;
        }

        &:visited {
            color: #9BAFAC;

            &:hover {
                color: #2269B5;
            }
        }
    }
}

nav,
footer{

    ul {
        padding: 0px;
        list-style: none;
        font-weight: bold;

        li {
            display: inline;
            margin: 0 0.5em;
        }
    }

}

