---
---


// ===== VARIABLES

$tr-mode:   all;
$tr-speed:  200ms;
$tr-ease:   cubic-bezier(0.15, 1.05, 0.9, 1);
$radius:    5px;

$col-background:    #F4F3ED;
$col-primary:       #2269B5;



// ===== MIXINS


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}


// ===== RESET

html,
body{
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


// ===== STYLING


@import url('https://fonts.googleapis.com/css?family=Nunito|Fjalla+One');

body {
    font-family: 'Nunito', sans-serif;
    background-color: $col-background;
    color: #63565B;

    .container {
        margin: 50px auto;
        width: 60%;
        max-width: 700px;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #63565B;

    &.lead {
        text-align: center;
    }
}

a {
    @include transition($tr-mode $tr-speed $tr-ease);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #759CC6;

     &:hover {
         @include transition($tr-mode $tr-speed $tr-ease);
         border-bottom: 2px solid $col-primary;
         color: $col-primary;
     }

    &:visited {
        color: #759CC6;

        &:hover {
            color: $col-primary;
        }
    }
}

.btn {
    display: inline-block;
    background-color: #759CC6;
    color: #ffffff;
    border-radius: $radius;

    &.lg {
        font-size: 1.2em;
        padding: 0.4em 1.2em;
    }

    &:hover {
        background-color: #2269B5;
        color: #ffffff;
    }
}

img {
    border-radius: 50%;
    border: 2px solid #63565B;
    padding: 2px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

footer {
    border-top: 1px solid #C7DBD5;
    font-size: .9em;
    text-align: center;
    margin: 3em 0;
    padding: 1em;

    a {
        @include transition($tr-mode $tr-speed $tr-ease);
        text-decoration: none;
        border-width: 0;

        &:hover {
            @include transition($tr-mode $tr-speed $tr-ease);
            border-width: 0;
            color: #FFFFFF;
            background-size: 100% 100%; // hover fill effect
        }
    }

    .button {
        color: #FFFFFF;

        /* preps for hover fill effect */
        background-image: linear-gradient($col-primary, $col-primary);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% 0;

        &:visited {
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;
            }
        }
    }

    .social {
        border-radius: 50% 50%;
        width: 48px;
        height: 48px;
        padding: 10px 0 0 2px;
        float: left;
        margin:0 1em 1em 0;
        display: block;

        /* preps for hover fill effect */
        background-image: radial-gradient($col-primary, $col-background);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 0 0;
        background-clip: padding-box;

        &:hover {
            background-image: radial-gradient($col-primary 0%, $col-primary 66%, $col-background 68%);
        }

        &:visited {
            &:hover {
                color: #FFFFFF;
            }
        }
    }

    .social-wrapper {
        margin: 0 auto;
    }
}

nav,
footer{

    ul {
        padding: 0px;
        list-style: none;
        font-weight: bold;

        li {
            display: inline-block;
            margin: 0 0.5em;
        }
    }

}

